.login{
    flex-direction: column;
    min-height: 90vh;
    h2{
        font-size: 2.5em;
        text-transform: uppercase;
        margin-bottom: 100px;
    }
    form{
        width: 50%;
        margin-bottom: 100px;
        input{
            width: 100%;
            background: transparent;
            border: 3px $color_3 solid;
            border-radius: 3px;
            padding: 10px;
            margin: 10px 0;
            outline: none;
            color: $color_2;
            font-weight: 700;
            transition: all 0.3s;
            &::placeholder{
                color: $color_2;
            }
            &:hover{
                background: $color_2;
                color: $color_1;
                &::placeholder{
                    color: $color_1;
                }
            }
            &[type="submit"]{
                text-transform: uppercase;
                font-size: 1.2em;
                cursor: pointer;
            }
        }
    }
    a{
        transition: all 0.3s;
        border-bottom: 2px $color_1 solid;
        padding-bottom: 5px;
        &:hover{
            border-color: $color_2;
        }
    }
    @media(max-width: 600px){
        form{
            width: 75%;
        }
    }
    @media(max-width: 400px){
        form{
            width: 90%;
        }
    }
}